<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header>
    <title th:text="#{error}"></title>
</header>
<div th:fragment="errorSection" th:remove="tag">
    <link type="text/css" th:href="@{/styles/error.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/styles/button.css}" rel="stylesheet" />
    <section id="error">
        <div class="error-container">
            <img th:src="@{/images/error.webp}" alt="Error icon">
            <h2 th:text="#{error.notFound}"></h2>
            <p th:text="#{error.subject}"></p>
            <p th:text="#{error.message}"></p>
            <div th:if="${userError != null}">
                <p th:text="${userError.message}"></p>
            </div>
            <button id="errorBtn" class="btn btn-primary" th:text="#{button.toHome}"></button>
        </div>
    </section>
    <div th:if="${userError != null}">
        <script defer="defer" referrerpolicy="origin" th:src="@{/scripts/error.js}"></script>
    </div>
</div>
</html>