<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Purchase</title>
    <meta charset="UTF-8">
    <div th:insert="/headerBar :: headerBar"></div>
    <link type="text/css" th:href="@{/styles/button.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/styles/buyProducts.css}" rel="stylesheet" />
</head>
<body>
    <main class="content">
        <div class="container">
            <h1>Confirm Buy Products Page</h1>
            <h2>Shipping Address</h2>
            <form th:action="@{/purchase}" th:object="${purchase}" method="POST">
                <label for="name">Full Name:</label>
                <input class="input-purchase-detail" type="text" id="name" name="name" th:field="*{fullName}" required>
                <label for="email">Email:</label>
                <input class="input-purchase-detail" type="email" pattern="[a-z0-9._]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email" name="email" th:field="*{email}" required>
                <label for="address">Address:</label>
                <textarea class="input-purchase-detail" id="address" name="address" th:field="*{address}" required></textarea>
                <label for="zip">Zip Code:</label>
                <input class="input-purchase-detail" inputmode="numeric" pattern="[0-9]{3}" minlength="3" maxlength="3" id="zip" name="zip" th:field="*{zipCode}" required>
                    <h2>Payment Method</h2>
                    <label for="cardname">Name on Card:</label>
                <input class="input-purchase-detail" type="text" id="cardname" name="cardname" th:field="*{nameOnCard}" required>
                <label for="cardnumber">Card Number:</label>
                <input class="input-purchase-detail" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx" id="cardnumber" name="cardnumber" th:field="*{cardNumber}" required>
                <label for="expdate">Expiration Date:</label>
                <input class="input-purchase-detail" type="month" id="expdate" name="expdate" th:field="*{expDate}" required>
                <label for="cvv">CVV:</label>
                <input class="input-purchase-detail cvv" inputmode="numeric" pattern="[0-9]{3}" minlength="3" maxlength="3" id="cvv" name="cvv" th:field="*{CVV}" required>
                    <h2>Confirm</h2>
                    <button type="submit" id="confirm-btn" class="btn btn-primary wide-btn">Confirm Purchase</button>
            </form>
        </div>
    </main>
</body>
<div th:insert="/footer :: footer"></div>
</html>
