<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:insert="/headerBar :: headerBar"></div>
    <link type="text/css" th:href="@{/styles/button.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/styles/cart.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/styles/comboBox.css}" rel="stylesheet" />
<body>
    <main class="content">
        <h1 style="margin-left: 25%;padding: 1px 16px;" th:text="#{cart}">Shopping Cart</h1>
        <ul id="products-list" class="products-list">
            <div th:each="product : ${products}">
                <li>
                    <div th:if="${product.mainImage != null}">
                        <img th:src="@{${'/images/' + product.mainImage.path}}" alt="Product">
                    </div>
                    <div th:unless="${product.mainImage != null}">
                        <img th:src="@{/images/ProductTemplate.png}" alt="Product">
                    </div>
                    <div>
                        <h2><a th:href="@{/productDetail(productId=${product.productId})}" th:text="${product.name}"></a></h2>
                        <p><h1 class="price" th:text="${#numbers.formatCurrency(product.price)}"></h1></p>
                        <div class="cart-action-bar">
                            <div class="standard-quantity">
                                <div class="combo-box">
                                    <span class="quantity" th:text="${product.quantity}"></span>
                                    <span style="display: none;" th:text="${product.productId}"></span>
                                </div>
                                <ul class="select">
                                    <li value="1">1</li>
                                    <li value="2">2</li>
                                    <li value="3">3</li>
                                    <li value="4">4</li>
                                    <li value="5">5</li>
                                    <li value="6">6</li>
                                    <li value="7">7</li>
                                    <li value="8">8</li>
                                    <li value="9">9</li>
                                    <li value="10+">10+</li>
                                </ul>
                            </div>
                            <input maxlength="3" class="custom-quantity-input"></input>
                            <button style="margin-left: 10px;" class="btn btn-primary custom-quantity-button" th:text="#{button.update}"></button>
                            <a class="cart-navigation-bar-button" th:href="@{/cart/delete(productId=${product.productId})}" th:text="#{cart.delete}"></a>
                        </div>
                    </div>
                </li>
            </div>
            <script defer="defer" referrerpolicy="origin" th:src="@{/scripts/quantityInput.js}"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
            <script defer="defer" referrerpolicy="origin" th:src="@{/scripts/cart.js}"></script>
            <script defer="defer" referrerpolicy="origin" th:src="@{/scripts/loadCartQuantity.js}"></script>
        </ul>
    </main>
</body>
    <div th:insert="/footer :: footer"></div>
</html>