<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link type="text/css" th:href="@{/styles/contact.css}" rel="stylesheet" />
  <title th:text="#{title.contact}"></title>
</head>
<div th:insert="headerBar :: headerBar"></div>
<body>
<main class="content">
  <section>
    <h2 th:text="#{contact.contact}"></h2>
    <p th:text="#{contact.description}"></p>
    <form class="support_form" th:action="@{/contact}" th:object="${supportRequest}" method="POST" enctype="utf8">
      <label for="subject" th:text="#{contact.subject}"></label>
      <input th:field="*{subject}" type="text" id="subject" name="subject" required>
      <label for="email" th:text="#{contact.email}"></label>
      <input th:field="*{email}" type="email" pattern="[a-z0-9._]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email" name="email" required>
      <label for="message" th:text="#{contact.message}"></label>
      <textarea th:field="*{message}" id="message" name="message" required></textarea>
      <button type="submit" th:text="#{button.submit}"></button>
    </form>
  </section>
  <section>
    <h2 th:text="#{contact.customerService}"></h2>
    <p th:text="#{contact.customerService.description}"></p>
    <p th:text="#{contact.customerService.phone}"></p>
    <p th:text="#{contact.customerService.timetable}"></p>
  </section>
  <section>
    <h2 th:text="#{contact.visit}"></h2>
    <p th:text="#{contact.visit.description}"></p>
    <p th:text="#{contact.visit.address.street}"></p>
    <p th:text="#{contact.visit.address.city}"></p>
  </section>
</main>
</body>
<div th:insert="footer :: footer"></div>
</html>
