<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="filter" th:remove="tag">
    <link type="text/css" th:href="@{/styles/filterSection.css}" rel="stylesheet" />
    <div class="filter-section">
      <h2>Filter</h2>
      <form th:action="@{/products/filter}" method="get">
        <input style="display: none;" type="checkbox" th:name="categoryId" th:id="categoryId" value="">
        <input style="display: none;" type="checkbox" th:name="searchRequest" th:id="searchRequest" value="">
        <input style="display: none;" type="checkbox" th:name="collectionId" th:id="collectionId" value="">
        <div class="filter-category" id="filter-category">
          <div th:if="${filters != null}">
            <div th:each="filter : ${filters.filters}">
              <h3 th:text="${filter.name}"></h3>
              <ul>
                <div th:each="filterValue : ${filter.values}">
                  <li>
                    <input type="checkbox" th:name="${filter.name}" th:id="${filterValue.value}" th:value="${filterValue.value}" th:checked="${filterValue.checked ? true : false}">
                    <label th:for="${filterValue.value}" th:text="${filterValue.value}"></label>
                  </li>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <input style="display: none;" type="checkbox" th:name="sortBy" th:id="sortBy" value="">
        <input style="display: none;" type="checkbox" th:name="sortTo" th:id="sortTo" value="">
        <script th:inline="javascript">
          var params = window.location.search;
          if(params.includes("categoryId=")){
            var categoryId = params.split("&")[0].substring(params.indexOf("=")+1);
            document.getElementById("categoryId").value = categoryId;
            document.getElementById("categoryId").checked = true;
          }else if(params.includes("searchRequest=")){
            var searchRequest = params.split("&")[0].substring(params.indexOf("=")+1);
            document.getElementById("searchRequest").value = searchRequest;
            document.getElementById("searchRequest").checked = true;
          } else{
            var collectionId = params.split("&")[0].substring(params.indexOf("=")+1);
            document.getElementById("collectionId").value = collectionId;
            document.getElementById("collectionId").checked = true;
          }
          var sort = document.getElementById("sortBox");
          var sortName = sort.options[sort.selectedIndex].value;
          document.getElementById("sortBy").value = sortName;
          document.getElementById("sortBy").checked = true;

          var sortToValue = "";
          if(asc.classList[1] == "active"){
              sortToValue = "asc";
          }else{
              sortToValue = "desc";
          }
          document.getElementById("sortTo").value = sortToValue;
          document.getElementById("sortTo").checked = true;
        </script>
        <button id="filter-button" class="filter-button">Filter</button>
      </form>
    </div>
  </div>
</html>