<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="filter" th:remove="tag">
    <link type="text/css" th:href="@{/styles/filterSection.css}" rel="stylesheet" />
    <div class="filter-section">
      <h2 th:text="#{filter}"></h2>
      <form th:action="@{/products/filter}" method="get">
        <input style="display: none;" type="checkbox" th:name="categoryId" th:id="categoryId" value="">
        <input style="display: none;" type="checkbox" th:name="searchRequest" th:id="searchRequest" value="">
        <input style="display: none;" type="checkbox" th:name="collectionId" th:id="collectionId" value="">
        <div class="filter-category" id="filter-category">
          <div th:if="${filters != null}" th:remove="tag">
            <div th:each="filter : ${filters.filters}" th:remove="tag">
              <div class="section">
                <div class="section-header">
                  <span>&#x25BC;</span>
                  <h3 th:text="${filter.name}"></h3>
                </div>
                <div class="section-content">
                  <ul>
                    <div th:each="filterValue : ${filter.values}" th:remove="tag">
                      <li>
                        <div style="display: flex; align-items: center;">
                          <div class="deselectInputDiv" style="margin-right: 5px;" th:if="${filterValue.checked}">
                            <span class="deselectInput w" style="font-family: system-ui;
                                                               font-weight: bold;
                                                               color: crimson;
                                                               visibility: visible;">X</span>
                            <script th:inline="javascript">
                              var t = document.getElementsByClassName("deselectInput w");
                              var r = t[0];
                              /*<![CDATA[*/
      
                              var name = /*[[${filter.name}]]*/ '';
                              name = name.replace(/\s/g, '');
                              r.classList = "deselectInput " + name;
  
                               /*]]>*/
                            </script>
                          </div>
                          <div class="deselectInputDiv" style="margin-right: 5px;" th:unless="${filterValue.checked}">
                            <span class="deselectInput" style="font-family: system-ui;
                                                               font-weight: bold;
                                                               color: crimson;
                                                               visibility: hidden;">X</span>
                          </div>
                          <div>
                            <input class="inputs" type="radio" th:name="${filter.name}" th:id="${filter.name +'_'+ filterValue.value}" th:value="${filterValue.value}" th:checked="${filterValue.checked ? true : false}">
                            <label th:for="${filter.name +'_'+ filterValue.value}" th:text="${filterValue.value}"></label>
                          </div>
                        </div>
                      </li>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <input style="display: none;" type="checkbox" th:name="sortBy" th:id="sortBy" value="">
        <input style="display: none;" type="checkbox" th:name="sortTo" th:id="sortTo" value="">
        <input style="display: none;" type="checkbox" th:name="page" th:id="page" value="">
        <script referrerpolicy="origin" defer th:src="@{/scripts/filterSection.js}"></script>
        <button id="filter-button" class="filter-button" th:text="#{button.filter}"></button>
      </form>
      <script>
        var deselectInput = document.getElementsByClassName("deselectInput");
        for(var i = 0; i < deselectInput.length; i++){
          deselectInput[i].onclick = function(){
            this.parentElement.nextElementSibling.children[0].checked = false;
            this.style.visibility = "hidden";
            this.className = "deselectInput";
          }
        }

        var inputs = document.getElementsByClassName("inputs");
        for(var i = 0; i < inputs.length; i++){
          inputs[i].onclick = function(){
            var name = this.name;
            name = name.replace(/\s/g, '');
            var deselectInput = document.getElementsByClassName("deselectInput " + name);
            console.log(deselectInput);
            if(deselectInput.length > 0){
              var d = deselectInput[0];
              d.style.visibility = "hidden";
              d.className = "deselectInput";
            }
            this.parentElement.previousElementSibling.children[0].classList.add(name);
            this.parentElement.previousElementSibling.children[0].style.visibility = "visible";
          }
        }
      </script>
    </div>
  </div>
</html>