<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer" th:remove="tag">
    <link type="text/css" th:href="@{/styles/footer.css}" rel="stylesheet" />
    <div style="margin-top: 50px;">
        <footer>
            <p>&copy; <span th:text="#{footer}"></span></p>
            <div class="local-changers">
                <div>
                    <span th:text="#{lang.change}"></span>:
                    <select id="locales">
                        <option value=""></option>
                        <option value="en" th:text="#{lang.eng}"></option>
                        <option value="fr" th:text="#{lang.fr}"></option>
                        <option value="ru" th:text="#{lang.ru}"></option>
                    </select>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                    <script defer="defer" referrerpolicy="origin" th:src="@{/scripts/languageChange.js}"></script>
                </div>
                <div>
                    <span th:text="#{curr.change}"></span>:
                    <select id="curr">
                        <option value=""></option>
                        <option value="US" th:text="#{curr.US}"></option>
                        <option value="FR" th:text="#{curr.FR}"></option>
                        <option value="RU" th:text="#{curr.RU}"></option>
                    </select>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                    <script defer="defer" referrerpolicy="origin" th:src="@{/scripts/currencyChange.js}"></script>
                </div>
            </div>
        </footer>
    </div>
</div> 
</html>