<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer" th:remove="tag">
    <link type="text/css" th:href="@{/styles/footer.css}" rel="stylesheet" />
    <div style="margin-top: 50px;">
        <footer>
            <p>&copy; <span th:text="#{footer}"></span></p>
            <div class="local-changers">
                <div>
                    <span th:text="#{lang.change}"></span>:
                    <select id="locales">
                        <option value=""></option>
                        <option value="en" th:text="#{lang.eng}"></option>
                        <option value="fr" th:text="#{lang.fr}"></option>
                        <option value="ru" th:text="#{lang.ru}"></option>
                    </select>
                    <script th:inline="javascript">
                        var langChange = document.getElementById("locales");
                        langChange.onchange = function(){
                            var nameJs = /*[[${#locale}]]*/;
                            var userCurr = nameJs.split('_')[1];
                            var selectedOption = $('#locales').val();
                              if (selectedOption != ''){
                                 if(window.location.search != ""){
                                    if(window.location.search.includes("lang=")){
                                      var params = window.location.search.substring(0, window.location.search.indexOf("lang")+5);
                                      var curr = window.location.search.substring(window.location.search.indexOf("lang")+7);
                                      window.location.replace(params + selectedOption + curr);
                                    }else{
                                      window.location.replace(window.location.pathname + window.location.search + '&lang=' + selectedOption + '-' + userCurr);
                                    }
                                }
                                else{
                                  window.location.replace(window.location.pathname + '?lang=' + selectedOption + '-' + userCurr);
                                }
                              }
                        }
                    </script>
                </div>
                <div>
                    <span th:text="#{curr.change}"></span>:
                    <select id="curr">
                        <option value=""></option>
                        <option value="US" th:text="#{curr.US}"></option>
                        <option value="FR" th:text="#{curr.FR}"></option>
                        <option value="RU" th:text="#{curr.RU}"></option>
                    </select>
                    <script th:inline="javascript">
                      var currChange = document.getElementById("curr");
                      currChange.onchange = function(){
                          var nameJs = /*[[${#locale}]]*/;
                          var userLang = nameJs.split('_')[0];
                          var selectedOption = $('#curr').val();
                          if (selectedOption != ''){
                             if(window.location.search != ""){
                                if(window.location.search.includes("lang=")){
                                  if(window.location.search.includes("-")){
                                    var params = window.location.search.substring(0, window.location.search.indexOf("-"));
                                    window.location.replace(params + '-' + selectedOption);
                                  }else
                                    window.location.replace(window.location.search + '-' + selectedOption);
                                }else{
                                  window.location.replace(window.location.pathname + window.location.search + '&lang=' + userLang + '-' + selectedOption);
                                }
                            }
                            else{
                              window.location.replace(window.location.pathname + '?lang=' + userLang + '-' + selectedOption);
                            }
                          }
                        }
                    </script>
                </div>
            </div>
        </footer>
    </div>
</div> 
</html>