<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="headerBar" th:remove="tag">
  <link type="text/css" th:href="@{/styles/headerBar.css}" rel="stylesheet" />
  <header>
    <div th:insert="/sideMenu :: sidebar"></div>
    <div class="header-wrapper">
      <a class="logo" th:href="@{/}">Internet-Shop Iberia</a>
      <div class="search-bar">
        <form style="display: flex; width: 100%;" method="get" th:action="@{/search}">
          <input class="search-input" type="text" th:value="${session.searchRequest}" name="searchRequest" placeholder="Search...">
          <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
        </form>
        <div class="dropdown-bar">
          <div class="dropdown">
            <div id="dropdown">
              <div th:if="${searchResults != null} and ${#lists.size(searchResults.results) >= 1}">
                <script th:inline="javascript">
                  var dropdown = document.querySelector('.search-bar .dropdown');
                  if(dropdown.style.display != 'block'){
                    dropdown.style.display = 'block';
                  }
                </script>
                <div th:each="result : ${searchResults.results}">
                  <a th:href="@{/search(searchRequest=${result})}" th:text="${result}"></a>
                </div>
              </div>
              <div th:unless="${searchResults != null} and ${#lists.size(searchResults.results) >= 1}">
                <script th:inline="javascript">
                  var dropdown = document.querySelector('.search-bar .dropdown');
                  if(dropdown.style.display != 'none'){
                    dropdown.style.display = 'none';
                  }
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <form method="get" th:action="@{/cart}">
          <button class="cart-button" type="submit"><img width="40px" th:src="@{/images/cart.png}"></button>
        </form>
      </div>
      <div>
        <span th:text="#{lang.change}"></span>:
        <select id="locales">
          <option value="en" th:text="#{lang.eng}"></option>
          <option value="fr" th:text="#{lang.fr}"></option>
        </select>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
        </script>
        <script type="text/javascript">
          $(document).ready(function() {
              $("#locales").change(function () {
                  var selectedOption = $('#locales').val();
                  if (selectedOption != ''){
                     if(window.location.search != ""){
                        if(window.location.search.includes("lang=")){
                          var params = window.location.search.substring(0, window.location.search.indexOf("lang")+5);
                          var curr = window.location.search.substring(window.location.search.indexOf("lang")+7);
                          window.location.replace(params + selectedOption + curr);
                        }else{
                          var userLocal = navigator.language || navigator.userLanguage;
                          var userCurr = userLocal.substring(3);
                          window.location.replace(window.location.pathname + window.location.search + '&lang=' + selectedOption + '-' + userCurr);
                        }
                    }
                    else{
                      var userLocal = navigator.language || navigator.userLanguage;
                      var userCurr = userLocal.substring(3);
                      window.location.replace(window.location.pathname + '?lang=' + selectedOption + '-' + userCurr);
                    }
                  }
              });
          });
        </script>
      </div>
      <div>
        <span th:text="#{curr.change}"></span>:
        <select id="curr">
          <option value="US" th:text="#{curr.eng}"></option>
          <option value="FR" th:text="#{curr.fr}"></option>
        </select>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
        </script>
        <script type="text/javascript">
          $(document).ready(function() {
              $("#curr").change(function () {
                  var selectedOption = $('#curr').val();
                  if (selectedOption != ''){
                     if(window.location.search != ""){
                        if(window.location.search.includes("lang=")){
                          if(window.location.search.includes("-")){
                            var params = window.location.search.substring(0, window.location.search.indexOf("-"));
                            window.location.replace(params + '-' + selectedOption);
                          }else
                            window.location.replace(window.location.search + '-' + selectedOption);
                        }else{
                          var userLang = navigator.language || navigator.userLanguage;
                          userLang = userLang.substring(0, 2);
                          window.location.replace(window.location.pathname + window.location.search + '&lang=' + userLang + '-' + selectedOption);
                        }
                    }
                    else{
                      var userLocal = navigator.language || navigator.userLanguage;
                      var userLang = userLocal.substring(0, 2);
                      window.location.replace(window.location.pathname + '?lang=' + userLang + '-' + selectedOption);
                    }
                  }
              });
          });
        </script>
      </div>
    </div>
    <nav class="navigationBar">
      <ul class="navigationList">
        <li><a><div th:insert="/sideMenu :: sidebarButton"></div></a></li>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/about}">About</a></li>
        <li><a th:href="@{/contact}">Contact</a></li>
      </ul>
    </nav>
  </header>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script defer="defer" referrerpolicy="origin" th:src="@{/scripts/headerBar.js}"></script>
</div>
</html>