<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="headerBar" th:remove="tag">
  <div th:insert="/error :: errorSection"></div>

  <link type="text/css" th:href="@{/styles/headerBar.css}" rel="stylesheet" />
  <header>
    <div th:insert="/sideMenu :: sidebar"></div>
    <div class="header-wrapper">
      <div class="logo-wrapper">
        <img id="header-logo-img" style="width: 70px; cursor: pointer;" th:src="@{/images/logo.png}">
        <a class="logo" th:href="@{/}" th:text="#{title}"></a>
      </div>
      <div class="search-bar">
        <form style="display: flex; width: 100%;" method="get" th:action="@{/search}">
          <input class="search-input" type="text" th:value="${session.searchRequest}" name="searchRequest" placeholder="Search...">
          <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
        </form>
        <div class="dropdown-bar">
          <div class="dropdown">
            <div id="dropdown">
              <div th:if="${searchResults != null} and ${#lists.size(searchResults.results) >= 1}">
                <script th:inline="javascript">
                  var dropdown = document.querySelector('.search-bar .dropdown');
                  if(dropdown.style.display != 'block'){
                    dropdown.style.display = 'block';
                  }
                </script>
                <div th:each="result : ${searchResults.results}">
                  <a th:href="@{/search(searchRequest=${result})}" th:text="${result}"></a>
                </div>
              </div>
              <div th:unless="${searchResults != null} and ${#lists.size(searchResults.results) >= 1}">
                <script th:inline="javascript">
                  var dropdown = document.querySelector('.search-bar .dropdown');
                  if(dropdown.style.display != 'none'){
                    dropdown.style.display = 'none';
                  }
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="cart-quantity-form">
        <div th:if="${cartQuantity == null}" >
          <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
          <script defer="defer" referrerpolicy="origin" th:src="@{/scripts/loadCartQuantity.js}"></script>
        </div>
        <form method="get" th:action="@{/cart}">
          <button class="cart-button" type="submit"><img width="50px" th:src="@{/images/cart2.png}">
            <span id="cart-quantity" th:text="${cartQuantity}"></span>
          </button>
        </form>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script defer="defer" referrerpolicy="origin" th:src="@{/scripts/updateCartQuantityPosition.js}"></script>
      </div>
    </div>
    <nav class="navigationBar">
      <ul class="navigationList">
        <li><a><div th:insert="/sideMenu :: sidebarButton"></div></a></li>
        <li><a th:href="@{/}" th:text="#{home}"></a></li>
        <li><a th:href="@{/about}" th:text="#{about}"></a></li>
        <li><a th:href="@{/contact}" th:text="#{contact}"></a></li>
      </ul>
    </nav>
  </header>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script defer="defer" referrerpolicy="origin" th:src="@{/scripts/headerBar.js}"></script>
</div>
</html>