<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <link type="text/css" th:href="@{/styles/button.css}" rel="stylesheet" />
  <link type="text/css" th:href="@{/styles/login.css}" rel="stylesheet" />
  <script defer="defer" referrerpolicy="origin" th:src="@{/scripts/sideMenu.js}"></script>
  <div class="content">
    <div class="container">
      <h1>Login</h1>
      <form th:action="@{/login}" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required="required" th:classappend="${#fields.hasErrors('username')} ? 'error' : ''" />
          <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="help-block"></span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required="required" th:classappend="${#fields.hasErrors('password')} ? 'error' : ''" />
          <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="help-block"></span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
      <form th:action="@{/registration}" method="get">
        <button type="submit" class="btn btn-primary">Registration</button>
      </form>
    </div>
  </div>
</body>
  <div th:insert="/footer :: footer"></div>
</html>
