<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <title th:text="${title}"></title>
    <div th:insert="/headerBar :: headerBar"></div>
    <link type="text/css" th:href="@{/styles/products.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/styles/sortingComboBox.css}" rel="stylesheet" />
<body>
    <main class="content">
        <h1 style="margin-left: 25%;padding: 1px 16px;" th:text="${title}"></h1>
        <div class="sorting-combo-box">
            <select class="sortBox" id="sortBox">
                <div th:each="sort : ${sortingList.sorts}">
                    <option th:value="${sort.sortBy}" th:text="${sort.name}" th:selected="${sort.selected ? true : false}"></option>
                </div>
            </select>
            <div class="sorting-indicator">
                <div th:if="${sortingList.sortTo == 'asc'}">
                    <span id="asc" class="asc active">▲</span>
                    <span id="desc" class="desc">▼</span>
                </div>
                <div th:unless="${sortingList.sortTo == 'asc'}">
                    <span id="asc" class="asc">▲</span>
                    <span id="desc" class="desc active">▼</span>
                </div>
            </div>
        </div>
        <div class="product-filter-wrapper">
            <div th:insert="/filterSection :: filter"></div>
            <ul class="products-list">
                <div th:each="product : ${products.products}">
                    <span class="product-id" style="display: none;" th:text="${product.id}"></span>
                    <li>
                        <div th:if="${product.mainImage != null}">
                            <img th:src="${product.mainImage.path}" alt="Product">
                        </div>
                        <div th:unless="${product.mainImage != null}">
                            <img th:src="@{/images/ProductTemplate.png}" alt="Product">
                        </div>
                        <div>
                            <h2><a th:href="@{/productDetail(productId=${product.Id})}" th:text="${product.name}"></a></h2>
                            <p><h1 class="price" th:text="${#numbers.formatCurrency(product.price)}"></h1></p>
                        </div>
                    </li>
                </div>
                <div th:insert="/pagination :: pagination"></div>
            </ul>
        </div>
    </main>
    <script referrerpolicy="origin" th:src="@{/scripts/sortingComboBox.js}"></script>
</body>
    <div th:insert="/footer :: footer"></div>
</html>