<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="/headerBar :: headerBar"></div>
    <link type="text/css" th:href="@{/styles/button.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/styles/productDetail.css}" rel="stylesheet" />
</head>
<body>
    <main class="content">
        <div class="container">
            <div class="images">
                <div class="product-image">
                    <div class="all-images">
                        <div th:if="${product.mainImage != null}">
                            <img class="small-image" th:src="@{${'/images/' + product.mainImage.path}}" alt="Product">
                        </div>
                        <div th:each="image : ${product.allImages}">
                            <img class="small-image" th:src="@{${'/images/' + image.path}}">
                        </div>
                    </div>
                    <div id="mainImage">
                        <div th:if="${chosenImage == null}">
                            <div th:if="${product.mainImage != null}">
                                <img class="mainImage" th:src="@{${'/images/' + product.mainImage.path}}" alt="Product">
                            </div>
                            <div th:unless="${product.mainImage != null}">
                                <img class="mainImage" th:src="@{/images/ProductTemplate.png}" alt="Product">
                            </div>
                        </div>
                        <div th:unless="${chosenImage == null}">
                            <img class="mainImage" th:src="@{${'/images/' + chosenImage}}" alt="Product">
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                <div class="product-details">
                    <h1 class="product-name" th:text="${product.name}"></h1>
                    <p class="product-description" th:text="${product.description}"></p>
                    <table class="product-info">
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                        <div th:each="detail : ${product.details}">
                            <tr>
                                <td><span class="detail-name" th:text="${detail.name}"></span></td>
                                <td><span class="detail-value" th:text="${detail.value}"></span></td>
                            </tr>
                        </div>
                    </table>
                </div>
            </div>
            <div class="price">
                <p class="product-price" th:text="${#numbers.formatCurrency(product.price)}"></p>
                <form th:action="@{/cart(productId=${product.Id})}" method="POST" enctype="utf8">
                    <button type="submit" class="btn btn-primary" th:text="#{button.buy}"></button>
                </form>
            </div>
        </div>
    </main>
    <script defer="defer" referrerpolicy="origin" th:src="@{/scripts/productDetail.js}"></script>
</body>
    <div th:insert="/footer :: footer"></div>
</html>