<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header>
  <title>Registration</title>
  <link type="text/css" th:href="@{/styles/button.css}" rel="stylesheet" />
  <link type="text/css" th:href="@{/styles/login.css}" rel="stylesheet" />
</header>
<body>
<div class="content">
  <div class="container">
    <h1 th:text="#{registration}"></h1>
    <form th:action="@{/registration}" th:object="${user}" method="POST" enctype="utf8">
      <div class="form-group">
        <label for="firstName" th:text="#{user.firstName}"></label>
        <input type="text" id="firstName" th:field="*{firstName}" required="required" th:classappend="${#fields.hasErrors('firstName')} ? 'error' : ''"/>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="lastName" th:text="#{user.lastName}"></label>
        <input type="text" id="lastName" th:field="*{lastName}" required="required" th:classappend="${#fields.hasErrors('lastName')} ? 'error' : ''"/>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="userName" th:text="#{user.userName}"></label>
        <input type="text" id="userName" th:field="*{userName}" required="required" th:classappend="${#fields.hasErrors('userName')} ? 'error' : ''"/>
        <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="help-block"></span>
      </div>
      <div>
        <label th:text="#{user.email}">email</label>
        <input type="email" pattern="[a-z0-9._]+@[a-z0-9.-]+\.[a-z]{2,4}$" required th:field="*{email}"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="password" th:text="#{user.password}"></label>
        <input type="password" id="password" th:field="*{password}" required="required" th:classappend="${#fields.hasErrors('password')} ? 'error' : ''"/>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="matchingPassword" th:text="#{registration.confirmPassword}"></label>
        <input type="password" id="matchingPassword" th:field="*{matchingPassword}" required="required" th:classappend="${#fields.hasErrors('matchingPassword')} ? 'error' : ''"/>
        <span th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}" class="help-block"></span>
      </div>
      <button type="submit" class="btn btn-primary" th:text="#{button.register}"></button>
    </form>
    <h4 style="color: crimson;" th:text="${message}"></h4>
  </div>
</div>
</body>
  <div th:insert="/footer :: footer"></div>
</html>