<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <title>Iberia</title>
    <link type="text/css" th:href="@{/styles/startPage.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/styles/button.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/styles/right-arrow.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/styles/left-arrow.css}" rel="stylesheet" />
    <div th:insert="/headerBar :: headerBar"></div>
    <body>
        <div class="content">
            <div class="product-carousel">
                <button class="slide slide-backward"><i class="gg-push-chevron-left"></i></button>
                <div class="carousel-wrapper">
                    <div class="carousel-card" th:each="item : ${carouselItems}">
                        <a th:href="@{/products(categoryId=${item.categoryId})}"><img th:src="@{${'/images/' + item.imagePath}}" alt=""></a>
                    </div>
                </div>
                <button class="slide slide-forward"><i class="gg-push-chevron-right"></i></button>
            </div>
            <section class="info-section">
                <h2 th:text="#{greeting}"></h2>
                <p th:text="#{greeting.description}"></p>

                <div class="info-grid">
                    <div class="info-box">
                        <img th:src="@{/images/Shipping Icon.png}" alt="Shipping Icon">
                        <h3 th:text="#{opportunity.shipping}"></h3>
                        <p th:text="#{opportunity.shipping.description}"></p>
                    </div>

                    <div class="info-box">
                        <img th:src="@{/images/Support Icon.png}" alt="Support Icon">
                        <h3 th:text="#{opportunity.support}"></h3>
                        <p th:text="#{opportunity.support.description}"></p>
                    </div>

                    <div class="info-box">
                        <img th:src="@{/images/Secure Icon.png}" alt="Secure Icon">
                        <h3 th:text="#{opportunity.secure}"></h3>
                        <p th:text="#{opportunity.secure.description}"></p>
                    </div>
                </div>

                <p th:text="#{greeting.ps}"></p>
            </section>

            <div class="product-list">
                <div class="list-wrapper">
                    <div class="list-card" th:each="product : ${productList}">
                        <img th:src="@{${'/images/' + product.mainImage.path}}" alt="Product 1">
                        <a th:href="@{/productDetail(productId=${product.Id})}" th:text="${product.name}"></a>
                        <p th:text="${#numbers.formatCurrency(product.price)}"></p>
                        <form th:action="@{/cart(productId=${product.Id})}" method="POST" enctype="utf8">
                            <button type="submit" class="btn btn-primary" th:text="#{button.buy}"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script defer="defer" referrerpolicy="origin" th:src="@{/scripts/startPage.js}"></script>
    <div th:insert="/footer :: footer"></div>
</html>