<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <link type="text/css" th:href="@{/styles/startPage.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/styles/button.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/styles/right-arrow.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/styles/left-arrow.css}" rel="stylesheet" />
    <div th:insert="/headerBar :: headerBar"></div>
    <body>
        <div class="content">
            <div class="product-carousel">
                <button class="slide slide-backward"><i class="gg-push-chevron-left"></i></button>
                <div class="carousel-wrapper">
                    <div class="carousel-card">
                        <img th:src="@{/images/a1.jpg}" alt="Product 1">
                    </div>
                    <div class="carousel-card">
                        <img th:src="@{/images/a2.jpg}" alt="Product 1">
                    </div>
                    <div class="carousel-card">
                        <img th:src="@{/images/a3.jpg}" alt="Product 1">
                    </div>
                </div>
                <button class="slide slide-forward"><i class="gg-push-chevron-right"></i></button>
            </div>

            <section class="info-section">
                <h2 th:text="#{greeting}"></h2>
                <p th:text="#{greeting.description}"></p>

                <div class="info-grid">
                    <div class="info-box">
                        <img th:src="@{/images/Shipping Icon.png}" alt="Shipping Icon">
                        <h3 th:text="#{opportunity.shipping}"></h3>
                        <p th:text="#{opportunity.shipping.description}"></p>
                    </div>

                    <div class="info-box">
                        <img th:src="@{/images/Support Icon.png}" alt="Support Icon">
                        <h3 th:text="#{opportunity.support}"></h3>
                        <p th:text="#{opportunity.support.description}"></p>
                    </div>

                    <div class="info-box">
                        <img th:src="@{/images/Secure Icon.png}" alt="Secure Icon">
                        <h3 th:text="#{opportunity.secure}"></h3>
                        <p th:text="#{opportunity.secure.description}"></p>
                    </div>
                </div>

                <p th:text="#{greeting.ps}"></p>
            </section>

            <div class="product-list">
                <div class="list-wrapper">
                    <div class="list-card">
                        <img th:src="@{/images/71AGOX9MORL._AC_SX466_.jpg}" alt="Product 1">
                        <h3>Product 1</h3>
                        <p>$19.99</p>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                    <div class="list-card">
                        <img th:src="@{/images/71AGOX9MORL._AC_SX466_.jpg}" alt="Product 1">
                        <h3>Product 2</h3>
                        <p>$29.99</p>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                    <div class="list-card">
                        <img th:src="@{/images/71AGOX9MORL._AC_SX466_.jpg}" alt="Product 1">
                        <h3>Product 3</h3>
                        <p>$39.99</p>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                    <div class="list-card">
                        <img th:src="@{/images/71AGOX9MORL._AC_SX466_.jpg}" alt="Product 1">
                        <h3>Product 4</h3>
                        <p>$49.99</p>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                    <div class="list-card">
                        <img th:src="@{/images/71AGOX9MORL._AC_SX466_.jpg}" alt="Product 1">
                        <h3>Product 5</h3>
                        <p>$59.99</p>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script defer="defer" referrerpolicy="origin" th:src="@{/scripts/startPage.js}"></script>
    <div th:insert="/footer :: footer"></div>
</html>