<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.success.registration}"></title>
    <link type="text/css" th:href="@{/styles/success.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/styles/button.css}" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<div class="content">
    <div class="container">
        <div class="header-success">
            <h1 th:text="#{success.registration.header}"></h1>
        </div>
        <main>
            <img class="image-success" th:src="@{/images/success.png}" alt="Success Image">
            <p th:text="#{success.registration.message}"></p>
            <a th:href="@{/}" class="btn btn-primary" th:text="#{button.login}">Login</a>
        </main>
    </div>
</div>
</body>
<div th:insert="footer :: footer"></div>
</html>
