* {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h1, h2 {
	text-align: center;
}

label {
	display: block;
	margin-bottom: 5px;
}

.input-purchase-detail {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: none;
}

.input-purchase-detail:invalid {
  border-color: #900;
  background-color: #fdd;
}

.input-purchase-detail:focus:invalid {
  outline: none;
}

.wide-btn{
    width: 100%;
    max-width: 100%;
}