#popUp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
  display: none;
}

.popUp-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

#are-you-sure{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#are-you-sure-text{
    font-size: 16px;
}