.userInfo {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
    margin: 50px auto;
    max-width: 800px;
    padding: 30px;
}
h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}
table {
    border-collapse: collapse;
    margin-top: 30px;
    width: 100%;
}
th {
    background-color: #008CBA;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    text-align: left;
}
td {
    border: 1px solid #ddd;
    font-size: 16px;
    padding: 10px;
}



#collections-list {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto;
  max-width: 800px;
}

#collections-list h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

#collections-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#collections-list li {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#collections-list a {
  display: block;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
  width: 100%;
}

#collections-list a:hover {
  background-color: #eee;
}

.collection-functional-button {
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    min-width: 50px;
    max-width: 50px;
    margin-right: 5px;
}

.collection-functional-button {
    background-color: #007bff;
}

.collection-functional-button:hover {
    background-color: #0069d9;
}

.collection-functional-button:focus {
    outline: none;
}